# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
.env


# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore Git-related files
.git/
.gitignore



